backports.zoneinfo;python_version<"3.9"
asgiref==3.5.2
dj-database-url==1.0.0
Django==4.1.1
django-baton==2.4.1
django-clearcache==1.2.1
psycopg2-binary==2.9.5
pyotp==2.7.0
sqlparse==0.4.3
tzdata==2022.4
whitenoise==6.2.0
daphne==3.0.2